# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

# Virtual environments
.venv/
venv/
env/
ENV/
.python-version

# Packages / distribution
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Pre-commit
.pre-commit-config.yaml.swp
.secrets.baseline

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# logs
logs/
*.log

# MKDocs
site/
